{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Accidente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chofer</th>
                <th>Movil</th>
                <th>Fecha</th>
                <th>Lugar</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('accidente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.chofer }}</td>
                <td>{{ entity.movil }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.lugar }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('accidente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('accidente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('accidente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
