{% extends "TaxiAdminUsuarioBundle:Usuario:layout.html.twig" %}

{% block usuario_contenido %}

<div class="panel panel-default">
	<div class="panel-body">
		<h3>Cambiar Clave</h3>

		{{ form_start(form) }}
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					<tr>
						<th style="width:200px;">Clave</th>
						<td>{{ form_widget(form.password) }}</td>
					</tr>
					<tr>
						<th>Nueva Clave</th>
						<td>{{ form_widget(form.newPassword) }}</td>
					</tr>
					<tr>
						<th>Confirmar Nueva Clave</th>
						<td>{{ form_widget(form.confirmNewPassword) }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 ">
				{{ form_widget(form.submit) }}
			</div>
		</div>

		{{ form_widget(form._token) }}

		{{ form_end(form) }}
	</div>
</div>

{% endblock %}