{% extends "TaxiAdminSitioBundle::modal.html.twig" %}

{% block contenido %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">Ingresar Multa</h4>
</div>

<div class="modal-body">
	{{ form_start(form) }}
	<div class="form-group">
		{{ form_widget(form.chofer, { 'attr' : { 'class' : 'form-control' } }) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.movil, { 'attr' : { 'class' : 'form-control' } }) }}
	</div>

	<div class="form-group">
		<div class="input-group with-help">
			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			{{ form_widget(form.fecha) }}
		</div>
		<span class="help-button"> 
			<i class="glyphicon glyphicon-question-sign help-tooltip" data-placement="left" data-toggle="tooltip" title="Ingrese la fecha de la multa"></i>
		</span>
	</div>

	<div class="form-group">
		<div class="input-group with-help">
			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			{{ form_widget(form.fechaVencimiento) }}
		</div>
		<span class="help-button"> 
			<i class="glyphicon glyphicon-question-sign help-tooltip" data-placement="left" data-toggle="tooltip" title="Ingrese la fecha de VENCIMIENTO de la multa"></i>
		</span>
	</div>

	<div class="form-group">
		<div class="input-group with-help">
			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			{{ form_widget(form.fechaPago) }}
		</div>
		<span class="help-button"> 
			<i class="glyphicon glyphicon-question-sign help-tooltip" data-placement="left" data-toggle="tooltip" title="Ingrese la fecha de PAGO (si ya lo realizo) de la multa"></i>
		</span>
	</div>

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
			{{ form_widget(form.costo) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_widget(form.lugar) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.descripcion) }}
	</div>

	{{ form_widget(form._token) }}

	<div class="form-group">
		<div class="col-sm-offset-2 ">
			{{ form_widget(form.submit) }}
		</div>
	</div>

	{{ form_end(form) }}

</div>
{% endblock %}