<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Detalles del Gasto</h4>
        </div>
        <div class="modal-body">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Empresa</th>
                                <td>{{ entity.empresa }}</td>
                            </tr>
                            <tr>
                                <th>Costo</th>
                                <td>{{ entity.costo }}</td>
                            </tr>
                            <tr>
                                <th>Rubro</th>
                                <td>{{ entity.rubro }}</td>
                            </tr>
                            <tr>
                                <th>Descripción</th>
                                <td>{{ entity.descripcion }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de Pago</th>
                                <td>{{ entity.fechaPago|date("d/m/Y")  }}</td>
                            </tr>
                            <tr>
                                <th>Día de Vencimiento</th>
                                <td>
                                    {% if entity.diaVencimiento != null %}
                                    El {{ entity.diaVencimiento }} de cada mes
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if entity.diaVencimiento != null %}
            {% if pagos|length > 1 %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha de Pago</th>
                        <th>Costo</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr>
                        <td>pago.fechaPago</td>
                        <td>pago.costo</td>
                        <td>pago.descripcion</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>El gasto aún no tiene pagos.</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>