{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mantenimiento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motivoingreso</th>
                <th>Taller</th>
                <th>Descripciontrabajo</th>
                <th>Costo</th>
                <th>Fechaingreso</th>
                <th>Fechafinalizado</th>
                <th>Fechapago</th>
                <th>Fechavencimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mantenimiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.motivoIngreso }}</td>
                <td>{{ entity.taller }}</td>
                <td>{{ entity.descripcionTrabajo }}</td>
                <td>{{ entity.costo }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFinalizado %}{{ entity.fechaFinalizado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaPago %}{{ entity.fechaPago|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mantenimiento_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mantenimiento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('mantenimiento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
