{% extends "TaxiAdminSitioBundle::modal.html.twig" %}

{% block contenido %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Detalle mantenimiento</h4>
</div>

<div class="modal-body">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr width="170px;">
                            <th>Motivo del Ingreso</th>
                            <td>{{ entity.motivoIngreso }}</td>
                        </tr>
                        <tr>
                            <th>Taller</th>
                            <td>{{ entity.taller }}</td>
                        </tr>
                        <tr>
                            <th>Descripción del Trabajo</th>
                            <td>{{ entity.descripcionTrabajo }}</td>
                        </tr>
                        <tr>
                            <th>Costo</th>
                            <td>${{ entity.costo }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de Ingreso</th>
                            <td>{{ entity.fechaIngreso|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de Finalizado</th>
                            <td>{{ entity.fechaFinalizado|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de Vencimiento</th>
                            <td>{{ entity.fechaVencimiento|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de Pago</th>
                            <td>{{ entity.fechaPago|date('Y-m-d') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
